* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  direction: ltr;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

body {
  font-family: "Quicksand";
  font-size: 16px;
  letter-spacing: 2px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

.card {
  padding: 20px 0 20px 0;
}

.card-body {
  padding: unset;
}

button {
  border: none;
  border-radius: 25px;
  background-color: #006bff;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  min-width: 170px;
  padding: 8px;
}

button:hover {
  background-color: #0055cc;
}

footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer a {
  color: #0a2054;
  letter-spacing: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

footer a:hover {
  color: #0055cc;
}

nav {
  z-index: 1000;
  background-color: #ffffff;
  overflow: hidden;
}

nav ul {
  padding-top: 17px;
  list-style: none;
  float: right;
}

nav ul li {
  display: inline;
}

nav ul li:nth-child(4) {
  padding-right: 14px;
}

nav ul li a {
  color: #000000 !important;
  letter-spacing: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  padding-right: 12px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #006bff !important;
}

nav .hamburger {
  display: none;
}

@media only screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }

  nav .col-12 {
    display: flex;
    justify-content: space-between;
  }

  nav .first-button {
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  nav button {
    min-width: unset;
  }

  .navbar-collapse {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  nav .first-button:hover {
    background-color: #ffffff;
  }

  nav .first-button i {
    font-size: 35px;
  }
  /* Icon 1 */

  .animated-icon1,
  .animated-icon2,
  .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .animated-icon1 span,
  .animated-icon2 span,
  .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .animated-icon1 span {
    background: #000000;
  }

  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }

  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }

  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }

  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.active {
  color: #006bff !important;
}

.sticky {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.team {
  padding-top: 50px;
  background-color: #0a2054;
  text-align: center;
}

.team h3 {
  color: #f2f2f2;
  font-weight: 800;
  padding-bottom: 20px;
}

.materiaal {
  text-align: center;
  padding-top: 0;
}

.materiaal .col {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.materiaal .col:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.materiaal h3 {
  color: #0a2054;
  font-weight: 800;
}

.materiaal h5 {
  color: #006bff;
  font-weight: 600;
}

.diensten {
  background-color: #f7faff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.diensten h3 {
  color: #006bff;
  font-weight: 800;
  padding-bottom: 25px;
}

.diensten h5 {
  color: #0a2054;
  font-weight: 700;
  padding-bottom: 15px;
}

.diensten .card {
  max-width: 500px;
}

.diensten ul {
  list-style: none;
  display: block;
  text-align: left;
  letter-spacing: 0px;
  padding-left: 50px;
}

.diensten li {
  display: flex;
  padding-bottom: 8px;
}

.diensten i {
  color: #006bff;
  font-size: 25px;
}

.diensten li span {
  width: 85%;
  display: inline-block;
  text-align: center;
  color: #0a2054;
  font-size: 18px;
}

.praktijk h3 {
  color: #0a2054;
  font-weight: 800;
}

.front {
  min-height: 60vh;
  text-align: center;
}

.front h1 {
  color: #006bff;
  font-weight: 800;
  letter-spacing: 3px;
}

.front p {
  text-align: justify;
  font-size: 17px;
}

.front .col-md-6,
.col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.front button {
  min-width: 250px;
}

.front img {
  width: 580px;
  height: 500px;
}

.info {
  text-align: center;
  padding: 0;
}

.info .col-md-4 {
  background-color: #f2f2f2;
  color: #0a2054;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .col-md-4:nth-child(1) {
  background-color: #0a2054;
  color: #ffffff;
}
