* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-family: "Quicksand";
  font-size: 16px;
  letter-spacing: 2px;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

.card {
  padding: 20px 0 20px 0;
}

.card-body {
  padding: unset;
}

button {
  border: none;
  border-radius: 25px;
  background-color: #006bff;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  min-width: 170px;
  padding: 8px;
}

button:hover {
  background-color: #0055cc;
}

nav {
  z-index: 1000;
  background-color: #ffffff;
  overflow: hidden;
  height: 8vh;
  padding-top: 17px;
  padding-bottom: 13px;
}

nav .title {
  font-size: 40px;
  color: #006bff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li {
  display: inline;
}

nav ul li:nth-child(4) {
  padding-right: 14px;
}

nav ul li a {
  color: #000000 !important;
  letter-spacing: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  padding-right: 12px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #006bff !important;
}

nav ul li a .active {
  color: #006bff !important;
}

.sticky {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.materiaal img {
  border-radius: 50%;
}

.diensten {
  background-color: #f7faff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.diensten h3 {
  color: #006bff;
  font-weight: 800;
  padding-bottom: 25px;
}

.diensten h5 {
  color: #0a2054;
  font-weight: 700;
  padding-bottom: 15px;
}

.diensten .card {
  max-width: 500px;
}

.diensten ul {
  list-style: none;
  display: block;
  text-align: left;
  letter-spacing: 0px;
  padding-left: 50px;
}

.diensten li {
  display: flex;
  padding-bottom: 8px;
}

.diensten i {
  color: #006bff;
  font-size: 25px;
}

.diensten li span {
  width: 85%;
  display: inline-block;
  text-align: center;
  color: #0a2054;
  font-size: 18px;
}

.praktijk {
  background-color: #f2f2f2;
}

.front {
  min-height: 62vh;
  text-align: center;
}

.front h1 {
  color: #006bff;
  font-weight: 800;
  letter-spacing: 3px;
}

.front p {
  text-align: justify;
  font-size: 17px;
}

.front .col-md-6,
.col-md-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62vh;
}

.front button {
  min-width: 250px;
}

.front img {
  width: 580px;
  height: 500px;
}

.info {
  text-align: center;
  padding: 0;
}

.info .col-md-4 {
  background-color: #f2f2f2;
  color: #0a2054;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .col-md-4:nth-child(1) {
  background-color: #0a2054;
  color: #ffffff;
}
