.image-slider-container .image-slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

.image-slider-container .image-slider-heading .swiper-pagination {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
}

.image-slider-container
  .image-slider-heading
  .swiper-pagination
  .swiper-pagination-bullet {
  background-color: #0a2054;
  opacity: 100%;
  width: 15px;
  height: 10px;
  border-radius: 100px;
  transition: 0.5s;
  margin: 0px 3px;
}

.image-slider-container
  .image-slider-heading
  .swiper-pagination
  .swiper-pagination-bullet-active {
  width: 30px;
}

.image-slider-container .swiper {
  position: relative;
}

.image-slider-container .swiper .swiper-slide {
  width: 200px;
}

.image-slider-container .swiper .swiper-slide .slide-con {
  overflow: hidden;
  height: 260px;
  margin: 0px 0px;
  margin-right: 25px;
  position: relative;
  border-radius: 10px;
}

@keyframes m {
  from {
    transform: translateY(-85px);
  }
  1% {
    transform: translateY(60px);
  }
  1.5% {
    transform: translateY(0px);
  }
  2% {
    transform: translateY(20px);
  }
  2.5% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(0px);
  }
}

.image-slider-container .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background-image: none !important;
}
